body {
 
}

.principal{
  	height: 360px;
  	width: 590px;
  	border-style: solid;
  		top: 50%;
  	left: 50%;
  	transform: translate(-50%, -50%);
	margin:0;
	position: absolute	
}
.menu{
	top: 50%;
  	left: 50%;
  	transform: translate(-50%, -50%);
	margin:0;
	position: absolute;
}

.button {
  background-color: black; /* Green */
  border: none;
  color: white;
  padding: 16px 16px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 30px 2px;
  -webkit-transition-duration: 0.4s; /* Safari */
  transition-duration: 0.4s;
  cursor: pointer;
}
.button1 {
  background-color: white; 
  color: black; 
  border: 2px solid black;
}

.button1:hover {
  background-color: black;
  color: white;
}
