<!DOCTYPE html>
<html>
<head>
<link rel="stylesheet" href="../style.css">
<title>IDriBEE</title>
</head>
<body>


<div class="principal">
	<div class="menu">
		<h2>Iniciar sesion</h2>

		<form>
			<input type="text" name="usuario" placeholder="User"><br>
			<input type="text" name="password" placeholder="Password"><br>
			<div class="color">
				<button class="button button1">Crear cuenta</button>
				<input class="button button1 " type="submit" value="Validar">
			</div>
		</form>
	</div>

</div>



</body>
</html>