<!DOCTYPE html>
<html>
<head>
<link rel="stylesheet" href="style.css">
<title>IDriBEE</title>
</head>
<body>


<div class="principal2">
	<div class="menu">
		<h2>Registrarse</h2>
	<form>
		<input type="text" name="usuario" placeholder="Usuario">
		
		<input type="text" name="password" placeholder="Password"><br>
		
		<input type="text" name="email" placeholder="E-mail"><br>
		
		<input type="text" name="nombre" placeholder="Nombre"><br>
		
		<input type="text" name="telefono" placeholder="Telefono"><br>
		<div>
			<input class="button button1 " type="submit" value="Validar">
		</div>
	</form>
	</div>
	
</div>

<p></p>

</body>
</html>